ul.red-ui-header-toolbar > li:first-of-type,
ul.red-ui-header-toolbar > li:last-of-type {
	filter: grayscale();
	pointer-events: none;
	opacity: 0.4;
}

#red-ui-header {
	border-bottom-color: green;
}

#red-ui-palette {
	filter: grayscale();
	pointer-events: none;
	opacity: 0.4;
}
